:root {
    --color-primary: #77afb8;
    --color-secondary: #4f919c;;
    --color-light-primary: #b3d4d9;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

textarea {
    resize: none;
}

#table td {
    vertical-align: middle;
}

#volume-table td {
    vertical-align: middle;
    overflow-wrap: break-word;
}

/* Classi */

.alert {
    margin-top: 1rem;
}

.center-in-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-input {
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 12px 20px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.current-page {
    background-color: #4f919c;
}

.courier {
    font-family: 'Courier New', Courier, monospace;
}

.verdana {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    vertical-align: middle;
}

.machine-btn {
    text-align: left;
}

.machine-btn:hover {
    background-color: lightgrey;
}

.btn-container, .btn-delete {
    margin-right: 0.2rem;
}
.avanzata {
    display: none;
}

.open-menu-btn {
    height: 100%;
}
.div-dash-table {
    overflow: auto;
    table-layout: fixed;
    height: 77vh;
    margin-bottom: 0;
}

.machine-delete-button, .machine-delete-from-group-button {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 2rem;
    height: 2rem;
}

/* AdminLTE modificato */

.login-logo {
    margin: 30px 0 0 0;
}

.alert-danger {
    display: none;
    margin-bottom: 0;
}

.cib-docker {
    vertical-align: middle;
    display: inline-block;
}

.main-navbar {
    background-color: var(--color-primary);
}

[class*="navbar-light"] .brand-link {
    text-align: center;
    border-bottom: 1px solid var(--color-primary);
    background: var(--color-primary);
    filter: brightness(80%);
}

.fa-exclamation-triangle {
    margin-left: 3px;
}

/*.info-box {
    margin: 0;
}

.info-box-number, .info-box-text {
    font-size: 1.1rem;
    text-align: center;
}*/

.dropdown-item:hover {
    background-color: var(--color-primary);
}

.register-box {
    margin: 0 auto;
    width: 35%;
}

/* IDs */

#login-button {
    width: 21%;
    height: 40px;
    color: white;
    margin-left: 2%;
    padding: 0;
    vertical-align: inherit;
}

#body-login {
    background-color: var(--color-primary);
    height: 100%;
    width: 100%;
}

#login-image {
    scale: 1.4;
}

#navbar-image {
    scale: 1.4;

}

#user-panel {
    border-bottom: none
}

#check, #check-volumes {
    position: absolute;
    left: 50%;
    scale: 4;
    top: 50%;
    filter: opacity(0.7);
}

#card-containers, #card-volume {
    height: 60vh;
}

#registrazione {
    color: var(--color-primary);
}

#registrazione:hover {
    color: var(--color-secondary);
}